# Node.js dependencies
node_modules/

# Archivos compilados por TypeScript
dist/
build/

# Archivos de configuración temporal
.env
.env.local
.env.*.local

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Configuración del sistema o IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Cachés
.cache/
.tmp/
coverage/

# Archivos creados por herramientas
*.tsbuildinfo
*.tgz

# Archivos personales o de desarrollo
*.local.js
*.local.ts
